@use "../base/typography";
@use "../layout/footer";

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #FBF8EC;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

/////


.favorites-hero {
  margin-top: 120px;

  .favorites-wrapper {
    display: flex;
    flex-direction: column;

    .favorites-top {
      display: flex;
      align-items: center;
      gap: 16px;

      a {
        &:first-child {
          color: var(--main-on-surface, #414141);
          font-family: 'Rubik';
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;

          &:hover {
            color: #70C05B;
          }
        }

        &:last-child {
          color: var(--grayscale-hard, #8F8F8F);
          font-family: 'Rubik';
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 150%;

          &:hover {
            color: #70C05B;
          }
        }
      }
    }

    .favorites-middle {
      margin-top: 24px;
      margin-bottom: 30px;

      h1 {
        margin: 0;
        color: var(--main-on-surface, #414141);
        font-family: 'Rubik';
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;

        @media (max-width:330px) {
          font-size: 44px;
        }
      }
    }

    .favorites-dec-inc {
      margin-bottom: 30px;
      display: flex;
      gap: 10px;

      .k-d-i1 {
        display: flex;
        align-items: center;
        gap: 10px;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        color: var(--grayscale-hardest, #606060);
        text-align: center;
        font-family: 'Rubik';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        cursor: pointer;

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 24px;
          height: 24px;
          color: #fff;
          background-color: #70C05B;
          border-radius: 4px;
        }
      }

      .k-d-i2 {
        cursor: pointer;
        background-color: transparent;
        border: none;
        color: var(--main-primary, #F63);
        text-align: center;
        font-family: 'Rubik';
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        border-radius: 4px;
        border: 0px solid var(--main-primary, #F63);
      }
    }


    .favorites-main-wrapper {
      display: flex;

      .favorites-row {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .favorites-card {
          padding: 10px;
          width: 100%;
          display: flex;
          gap: 50px;
          background-color: #fff;

          .k-c-btns {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #70C05B;
            width: 60px;

            .k-c-btns-1 {
              font-size: 20px;
              color: #fff;
              background-color: transparent;
              border: none;
              cursor: pointer;
            }

            .k-c-btns-2 {
              font-size: 20px;
              color: #fff;
              background-color: transparent;
              border: none;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}